.build-parent{
    position: relative;
    width: 50%;
    left: 25%;
}

.build-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    
}

.build-middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.build-parent:hover .build-image{
    opacity: 0.3;
}

.build-parent:hover .build-middle{
    opacity: 1;
}

.build-text{
    background-color: #FFAB40;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: 'Pacifico', cursive;
}