@import url('https://fonts.googleapis.com/css?family=Oswald');

#circle-container{
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.circle{
    width: 50vh;
    height: 50vh;
    position: absolute;
    border-radius: 50%;
}

#one:before{
    content: "Hover Me!";
}

#one{
    background-color: rgba(0,0,225,0.45);
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: 1s;
}

#two{
    background-color: green;
    transition: 1s;
    opacity: 0.5;
}

#three{
    background-color: red;
    transition: 1s;
    opacity: 0.5;
}

